version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - ENV=dev
    command: python -m backend.main
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    environment:
      - ENV=dev
    ports:
      - "3000:3000"
    command: npm run dev
    depends_on:
      - backend
